body {
  font-family: "Urbanist", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e4e4e4;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

/* OPEN SIDEBAR */
.sidenav a { 
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: flex;
  height: 5vh;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #2b8eff;
}

/* */
.sidenav .closebtn {
  color: black;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}