    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Comfortaa', sans-serif;
      background-color: #1b1b1b;
      transition: background-image 0.3s ease;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 20px;
    }
    
    /*
    body.hovered {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    body.unhovered{
      background-color: #1b1b1b;
    }
    */

    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: #013A63;
    }

    .spots-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
      justify-content: center;
      gap: 30px;
    } 

    .spots-card {
      background: #A9D6E5;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }

    .spots-card:hover {
      transform: scale(1.05);
    }

    .spots-img {
      width: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    .spots-info {
      padding: 15px;
    }

    .spots-name {
      font-size: 18px;
      font-weight: 600;
      color: #013A63;
      margin-bottom: 8px;
    }

    .spots-price {
      font-size: 16px;
      color: #013A63;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .see-info {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #2C7DA0;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.3s;
    }

    .see-info:hover {
      background-color: rgb(66, 159, 199);
    }

    .layout{
      display: flex;
    }

    .content{
      flex: 1;
      padding: 20px;
    }
